/* @group Single Post */

.no-sidebar{
	#sidebar{ display: none; }
	div.left-content{
		width: auto;
		border: 0;
        margin-right: 0;
        float: none;
        padding-left: 20px;
	}
}

#single{
    transform: none;
    .main-article{
        position: relative;
        z-index: 1;
        padding: 0 60px;
        &.no-image{
            padding-top: 0;
        }
        .featured-image-caption{
            margin-top: 10px;
            padding-right: 10px;
            color: $light-gray;
            text-align: right;
            font-size: 12px;
            text-transform: uppercase;
            font-weight: 500;
            font-family: $title-font-family;
        }
    }

    .main-title{
        margin-bottom: 20px;
    }
    .post-content{
        margin-top: $section-padding;
    }

    // Fullwidth style
	&.fullcover{
        .fullcover-wrapper{
            .featured-image{
                margin-top: 60px;
                img{
                    object-fit: cover;
                    height: 500px;
                    border-radius: $medium-border-radius;
                    box-shadow: $large-shadow;
                }
            }
        }
        .top-info{
            margin-top: -10px;
        }
        .post-content{
            margin-top: 40px;
        }
	}

	// Classic style

    &.classic{
        .featured-image{
            margin: 0 -60px 40px;            
            img{
                // border: 1px solid $border-color;
                aspect-ratio: 16/9;
                object-fit: cover;
                border-radius: $medium-border-radius;
                box-shadow: $medium-shadow;
            }
        }
        .excerpt{
            margin-bottom: 20px;
            font-size: 120%;
        }
    }

    /* Bottom share buttons and permalink */

    .share-buttons{
        width: 47%;
        padding-right: 10px;
        .title{
            display: inline-block;
            margin-right: 10px;
        }
        a{
            vertical-align: middle;
            position: relative;
            top: -2px;
        }
        .twitter svg{
            width: 19px;
            height: 19px;
        }
        .email{
            color: $main-color;
        }
    }

    /* Bottom tags */

    .meta-bottom{
        margin-top: $section-padding;
        padding: 30px 0 0;
        border-top: 1px solid $border-color;
        font-family: $title-font-family;
        // border-bottom: 1px solid $border-color;
        font-size: 14px;
        p{
            display: inline;
        }
        .sep{
            margin: 0 auto;
        }        
        .last-update{
            width: 47%;
            padding-left: 10px;
            text-transform: capitalize;
            text-align: right;
        }
    }

    .tags-list{
        text-align: center;
        padding: 30px 60px;
        font-size: 14px;
        font-family: $title-font-family;
        p{
            display: inline-block;
            margin-right: 3px;
        }
        a{
            display: inline;
            color: $main-color;
            &:hover{
                color: $black;
            }
        }
    }

    /* Siblings Posts */

	section.siblings{
        margin-top: $medium-section-padding;
        align-items: stretch;
		article{
			position: relative;
			z-index: 1;
            padding: 35px 30px;
            box-sizing: border-box;
            color: $main-color;
            flex-flow: row wrap;
            align-items: center; 
            font-size: 14px;    
            width: 47%;   
            @include transition;
            .title{
                margin-top: 15px;
            }
            p{
                color: $light-gray;
                text-transform: uppercase;
                font-family: $title-font-family;
            }
            &.next{
                text-align: right;
                justify-content: right;
            }
		}
        .separator{
            width: 1px;
            height: 50px;
            // background: $border-color;
            margin: auto;
        }
    }

    #comments{
        padding-left: 60px;
        padding-right: 60px;
    }
    
}

/* @end */
