{{#if access}}
    {{#if comments}}
        <!-- start: #comments -->
        <div id="comments" class="section np-bottom">
            {{comments title="" count=false mode="auto"}}                
        </div>
        <!-- end: #comments -->  
    {{/if}} 
{{/if}} 