<time class="meta-info" datetime="{{date format='YYYY-MM-DD'}}">
    <svg class="icon main-color"><use xlink:href="{{asset 'images/svg-icons.svg#clock-icon'}}"></use></svg> <span class="name">{{t "Updated:"}}</span>
    {{date updated_at format="MMM DD, YYYY"}}
</time>