{{#if tags}}
    {{#primary_tag}}
        <div class="tags meta-info fill-color">
            <a href="{{url}}" class="primary-tag ctag ctag-{{slug}}" data-id="ctag-{{slug}}">{{name}}</a>
        </div>
    {{/primary_tag}}
{{/if}}